In [14]:
%matplotlib inline

In [15]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import gmaps.datasets

# Import API key
from config import g_key

In [16]:
# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "../Resources/cities.csv"
cities_df= pd.read_csv(output_data_file)

# Remove rows missing data
cities_df = cities_df.dropna()
cities_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05

In [17]:
#Configure gmaps
gmaps.configure(api_key=g_key)

In [18]:
# create new df based on temperature conditions
ideal_max_temp = cities_df.loc[cities_df['Max Temp'] < 80]
ideal_temp = ideal_max_temp.loc[ideal_max_temp['Max Temp'] > 70]
ideal_wind = ideal_temp.loc[ideal_temp['Wind Speed'] < 10 ]
temp_df = ideal_wind.loc[ideal_wind['Cloudiness'] == 0]
temp_df.count()

City_ID       7
City          7
Cloudiness    7
Country       7
Date          7
Humidity      7
Lat           7
Lng           7
Max Temp      7
Wind Speed    7
dtype: int64

In [19]:
# Store latitude and longitude in locations
locations = temp_df[["Lat", "Lng"]]
locations_city= cities_df[["Lat", "Lng"]]

# humidity
humidity = temp_df["Humidity"]
humidity_city= cities_df["Humidity"]

In [20]:
# Plot Heatmap
fig = gmaps.Map()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations_city, weights=humidity_city, max_intensity= 70, point_radius= 7.0)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Map(configuration={'api_key': 'AIzaSyCV1Wkg5W83oePcLZDY8vdiB_c6ia6wapE'}, data_bounds=[(-47.06802962276794, -1…

In [21]:
hotel_df = temp_df
hotel_df["Hotel Name"] = ""
hotel_df.head()

C:\Users\sahob\Newfolder\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32,
88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50,
138,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06,
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59,
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93,

In [22]:
# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "lodging",
    "keyword": "hotel",
    "key": g_key
}

# Use the latitude and longitude we recovered to identify airports
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]

  
    params["location"] = f"{lat},{lng}"

    # Use the search term: "hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # assemble url and make API request
    print(f"Retrieving Results for Index: {index}")

    response = requests.get(base_url, params=params).json()

    #We dd try since data is missing
    try:
       
        hotel_df.loc[index, "Hotel Name"] = response["results"][0]["name"]
        hotel_df.loc[index, "Country"] = response["results"][0]["vicinity"]
        print(f"The Hotel Name is {response['results'][0]['name']} located in {response['results'][0]['vicinity']}")
    except (KeyError, IndexError):
    
        print("Missing field/result... skipping.")

Retrieving Results for Index: 70
The Hotel Name is Kanto Island Inn Suites & Spa located in R. Vicente Paulo Ramos - Águas das Vertentes, Capitólio
Retrieving Results for Index: 88
The Hotel Name is Hotel Castelo located in R. Osvaldo Aranha, 3968 - CIDREIRA, Cidreira
Retrieving Results for Index: 138
The Hotel Name is Kimony Resort Hotel located in Morondava
Retrieving Results for Index: 139
The Hotel Name is Dandeli Dreams Jungle Resort located in Chandevadi castle rock road, Jagalpet Dandeli
Retrieving Results for Index: 176
The Hotel Name is Hotel Marchica Lagoon Resort, Nador Morocco located in Cité d'Atalayoun
Retrieving Results for Index: 297
The Hotel Name is Mount Mogok Hotel located in Mogok
Retrieving Results for Index: 444
The Hotel Name is Sepehr Hotel located in Birjand

In [23]:
hotel_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
70,70,ponta do sol,0,"R. Vicente Paulo Ramos - Águas das Vertentes, ...",1558378767,57,-20.63,-46.00,73.68,5.32,Kanto Island Inn Suites & Spa
88,88,cidreira,0,"R. Osvaldo Aranha, 3968 - CIDREIRA, Cidreira",1558378770,66,-30.17,-50.22,76.56,5.50,Hotel Castelo
138,138,morondava,0,Morondava,1558378780,69,-20.30,44.28,79.08,9.06,Kimony Resort Hotel
139,139,vaini,0,"Chandevadi castle rock road, Jagalpet Dandeli",1558378780,88,15.34,74.49,78.90,1.59,Dandeli Dreams Jungle Resort
176,176,nador,0,Cité d'Atalayoun,1558378499,40,35.17,-2.93,75.20,6.93,"Hotel Marchica Lagoon Resort, Nador Morocco"
297,297,mogok,0,Mogok,1558378844,51,22.92,96.51,72.24,2.77,Mount Mogok Hotel
444,444,birjand,0,Birjand,1558378880,26,32.86,59.22,71.60,9.17,Sepehr Hotel

In [24]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [25]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations,
    info_box_content=hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display Map
fig

Map(configuration={'api_key': 'AIzaSyCV1Wkg5W83oePcLZDY8vdiB_c6ia6wapE'}, data_bounds=[(-47.06802962276794, -1…